/*=================================
	Hero Section Section Start
==================================*/
.image-background {
  position: relative;
  min-width: 100%;
  display: block;
  min-height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../../assets/Images/hero.png');
  background-position: center;
  object-fit: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: start;
}

.img-bg-text {
  margin-top: -90px;
}

.img-bg-text h1 {
  color: #FFC000;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: var(--primaryFont-Family);
}

.bg-animition-text>h2 {
  color: #FFC000;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: var(--primaryFont-Family);
}

/* typer animation control */
.index-module_type__E-SaG::after {
  content: '|' !important;
  font-weight: 100;
}

/*=================================
	Skill Icon Start
==================================*/
.skill-icon {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.skill-icon>img {
  max-width: 60px;
  max-height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -25px;
  border: 2px solid #008eff;
  cursor: pointer;
  transition: all 1s;

  &:hover {
    transform: translateY(-10px);
    border: 2px solid #FFC000;
  }
}

.skill-icon>span {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  margin-left: -25px;
  border: 2px solid #008eff;
  cursor: pointer;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;

  &:hover {
    transform: translateY(-10px);
    border: 2px solid #FFC000;
  }
}

.skill-icon>img:first-child {
  margin-left: 0px;
}

/*=================================
	Work Deteils Section Start
==================================*/
.work-deteils {
  margin-top: -90px;
}

.work__card {
  text-align: center;
  background: white;
  padding: 30px 0px 0px !important;
  border-radius: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px !important;
  transition: all 0.5s;
  width: 100% !important;
  cursor: default;

  &:hover {
    border-bottom: 5px solid #FFC000;
    transform: translateY(-10px);
  }

}

.card>.card-img-top {
  width: 20%;
  margin: 0 auto;
  min-height: 70px;
}

.card-counter {
  color: black;
  font-size: 25px;
  font-weight: 400;
}

.card-body>.work__card__title {
  color: black;
  transition: all 0.4s;
  text-transform: uppercase;
  font-family: var(--primaryFont-Family);
}

.card:hover .work__card__title {
  color: #FFC000;
}

/* responsive  */

@media only screen and (max-width: 400px) {
  .image-background {
    height: 60vh;
  }

  .img-bg-text h1 {
    font-size: 35px;
  }

}